<h1>Fibonacci multiplication table</h1>

<!--- Render size input here -->
<form method="GET" action="/fibonacci">
  Size: <input type="text" name="n" value="<%= size%>" placeholder="The 'n' parameter">
  <input type="submit" value="Generate">
</form>


<% if table %>
  <!--- Render table here -->
  <table border="1">
  <% table.each do |row| %>
    <tr>
      <% row.each do |col| %>
        <td><%= col %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <% if saved %>
    <p>Saved!</p>
  <% else %>
    <form method="POST" action="/fibonacci">
      <input type="hidden" name="n" value="<%= size%>">
      <input type="submit" value="Save">
    </form>
  <% end %>
<% end %>
